.baseLayout {
  display: grid;
  grid-template-columns: minmax(320px, 1fr);
  grid-template-rows: 80px 1fr 80px;
  grid-template-areas:
    'header'
    'body'
    'footer';
  height: 100vh;

  @media (min-width: 800px) {
    grid-template-columns: auto minmax(320px, 1fr) auto;
    grid-template-areas:
      'header header header'
      '. body .'
      'footer footer footer';
  }
}

.header {
  grid-area: header;
}

.body {
  grid-area: body;
}

.footer {
  grid-area: footer;
}
